<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tcc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ong.OngStatusCampanhaFinalizada"
            android:screenOrientation="portrait"/>
        <activity android:name=".doador.DoadorClickCampanha"
            android:screenOrientation="portrait"/>
        <activity android:name=".ong.OngStatusCampanhaAberta"
            android:screenOrientation="portrait"/>
        <activity android:name=".ong.OngStatusCampanhaAbertaEspecifico"
            android:screenOrientation="portrait"/>
        <activity android:name=".ong.OngStatusCampanha"
            android:screenOrientation="portrait"/>
        <activity android:name=".ong.OngAceitacaoEnviada"
            android:screenOrientation="portrait"/>
        <activity android:name=".doador.DoadorDoacaoAprovadas"
            android:screenOrientation="portrait"/>
        <activity android:name=".ong.OngConfirmarRecebimento"
            android:screenOrientation="portrait"/>
        <activity android:name=".ong.OngStatusDoacaoFinalizadas"
            android:screenOrientation="portrait"/>
        <activity android:name=".ong.OngStatusDoacaoTransito"
            android:screenOrientation="portrait"/>
        <activity android:name=".ong.OngStatusDoacaoEsperando"
            android:screenOrientation="portrait"/>
        <activity android:name=".ong.OngStatusDoacao"
            android:screenOrientation="portrait"/>
        <activity android:name=".doador.DoadorStatusDoacaoFinalizada"
            android:screenOrientation="portrait"/>
        <activity android:name=".doador.DoadorStatusDoacaoTransito"
            android:screenOrientation="portrait"/>
        <activity android:name=".doador.DoadorStatusDoacaoEsperando"
            android:screenOrientation="portrait"/>
        <activity android:name=".doador.DoadorStatusDoacao"
            android:screenOrientation="portrait"/>
        <activity android:name=".doador.DoadorClickDoar"
            android:screenOrientation="portrait"/>
        <activity android:name=".Entities.ChatActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Entities.MensagensActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".doador.DoadorSelecaoDoacaoUnicaLivros"
            android:screenOrientation="portrait"/>
        <activity android:name=".doador.DoadorSelecaoDoacaoUnicaMoveis"
            android:screenOrientation="portrait"/>
        <activity android:name=".doador.DoadorSelecaoDoacaoUnicaBrinquedo"
            android:screenOrientation="portrait"/>
        <activity android:name=".doador.DoadorSelecaoCampanha"
            android:screenOrientation="portrait"/>
        <activity android:name=".doador.DoadorSelecaoDoacaoUnicaRoupa"
            android:screenOrientation="portrait"/>
        <activity android:name=".ong.OngSelecaoDoacaoUnicaRoupa"
            android:screenOrientation="portrait"/>
        <activity android:name=".ong.OngSolicitarCampanha"
            android:screenOrientation="portrait"/>
        <activity android:name=".ong.OngSelecaoDoacaoUnicaBrinquedo"
            android:screenOrientation="portrait"/>
        <activity android:name=".ong.OngSelecaoDoacaoUnicaLivros"
            android:screenOrientation="portrait"/>
        <activity android:name=".ong.OngSelecaoDoacaoUnicaMoveis"
            android:screenOrientation="portrait"/>
        <activity android:name=".ong.OngSolicitarDoacaoUnica"
            android:screenOrientation="portrait"/>
        <activity android:name=".doador.DoadorDoacaoFinalizada"
            android:screenOrientation="portrait"/>
        <activity android:name=".ong.OngEscolhaTipoDoacao"
            android:screenOrientation="portrait"/>
        <activity android:name=".doador.DoadorEditarPerfil"
            android:screenOrientation="portrait"/>
        <activity android:name=".ong.OngEditarPerfil"
            android:screenOrientation="portrait"/>
        <activity android:name=".inicio.CadastroOngActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".inicio.CadastroDoadorActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".doador.DoadorMenuOngs"
            android:screenOrientation="portrait"/>
        <activity android:name=".doador.DoadorMeusDados"
            android:screenOrientation="portrait"/>
        <activity android:name=".ong.OngMeusDados"
            android:screenOrientation="portrait"/>
        <activity android:name=".inicio.LoginActivityOng"
            android:screenOrientation="portrait"/>
        <activity android:name=".inicio.LoginActivityDoador"
            android:screenOrientation="portrait"/>
        <activity android:name=".inicio.EscolhaInicio"
            android:screenOrientation="portrait"/>
        <activity android:name=".ong.OngMainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".doador.DoadorMainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".inicio.TelaInicio"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>